<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
  {{{body}}}
  <script>
    jQuery(document).ready(function () {
      var DELAY = 700, clicks = 0, timer = null;

$(function(){

    $("#here").on("click", function(e){

        clicks++;  //count clicks

        if(clicks === 1) {

            timer = setTimeout(function() {

              $.ajax({
                method: "POST",
                url: "/post",
                data: { type: 1 },
                success: function(resp) { $("#response").text(resp.text) }
              })
              clicks = 0;             //after action performed, reset counter

            }, DELAY);

        } else {

            clearTimeout(timer);    //prevent single-click action
            clicks = 0;

            $.ajax({
              method: "POST",
              url: "/post",
              data: { type: 2 },
              success: function(resp) { $("#response").text(resp.text) }
            })
        }

    })
    .on("dblclick", function(e){
        e.preventDefault();  //cancel system double-click event
    });

});
    });
  </script>
</body>
</html>
